body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
    /*background-color: rgb(242, 242, 242);*/
}



.nav {
  width: 50%;
  margin: auto;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 33px 0px 0px 0px;
  font-family: 'Courgette', cursive;
}

.nav a {
  color: black;
}
.nav a:hover {
  color: #FF1493;
}

h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: -0.8em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin: 0 0 0 0;
  top: -270px;
  color: #7cacf9
}

.textSkills p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: -0.8em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin: 0 0 0 0;
  top: -270px;
  color: #7cacf9
}
