body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.gifCell {
  text-align: center;
  padding-top: 5%;
}

.gif {
  width: 400px;
  height: auto;
}

.helloThere {
  padding-bottom: 1%;
}

.greeting {
  color: rgb(89, 89, 89);
  text-align: center;
}

.nav {
  width: 50%;
  margin: auto;
  display: flex;
  color: black;
  justify-content: space-between;
  background-color: white;
  padding: 46px 0px 0px 25px;
  font-family: 'Courgette', cursive;

}

.nav a {
  color: black;
}
.nav a:hover {
  color: #FF1493;
}

.intro {
  font-family: 'Berkshire Swash', cursive;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgb(220, 220, 220);
  margin-bottom: 25px;
  border-radius: 5px;
  margin: 23px 52px;
  padding: 18px;
}

.greeting p:hover {
  background-color: green;
  color: yellow;
}
